<!DOCTYPE html>
<html>
<head>
    <title>Cooperative Members</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
  <a href="/members">Members</a>
  <a href="/members/add">Add Member</a>
</nav>

<div class="container">
    <%- body %> <!-- this is where child templates get injected -->
</div>

</body>
</html>
