apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: coop-app
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS cooperative_db;
    
    USE cooperative_db;
    
    CREATE TABLE IF NOT EXISTS members (
      id INT AUTO_INCREMENT PRIMARY KEY,
      names VARCHAR(255) NOT NULL,
      national_id VARCHAR(50) NOT NULL UNIQUE,
      phone VARCHAR(20) NOT NULL,
      cooperative_name VARCHAR(255) NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    );
    
    INSERT IGNORE INTO members (names, national_id, phone, cooperative_name) VALUES
    ('Evariste Niyizigihe', '10000000001', '0701234567', 'Cooperative A'),
    ('Kawera Mark', '10000000002', '0702345678', 'Cooperative B');
